/* 
----------INDEX----------
BASIC ELEMENT SELECTORS [LINE 13]
LOADING SCREEN          [LINE 41]
HEADER CONTENT          [LINE 85]
FOOTER CONTENT          [LINE 141]
MAIN PAGE DATA          [LINE 160]
BREAKPOINTS             [LINE 233]
CRT EFFECTS             [LINE 262]
ANIMATIONS              [LINE 298]
*/

/* BASIC ELEMENT SELECTORS */

* {
    box-sizing: border-box;
    animation: text-shadow 5s infinite;
}

body {
    background-color: black;
    color: lime;
}

::selection {
    background: rgb(0, 95, 8);
    color: #9bffa4;
  }

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 122, 0);
}



/* LOADING SCREEN */
#loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: lime;
    display:flex;
    align-items: center;
    justify-content: center;
}
#loading-container {
    border: 5px solid lime;
    border-top: 30px solid lime;
    align-items: center;
}

#loading-span {
    position: relative;
    font-size: xx-large;
    display: inline-block;
    padding-left: 65px;
    padding-top: 20px;
}

.loader {
    width: 250px;
    height: 30px;
    border: 4px solid lime;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.loader-inner {
    display: block;
    height: 100%;
    background-color: lime;
    animation: loader-inner 3s ease-in;
}

/* HEADER CONTENT */

header {
    font-size: xx-large;
    font-family: fantasy;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    background-color: lime;
    color: black;
}

.dropbtn {
    font-family: fantasy;
    background-color: lime;
    color: black;
    width: 200px;
    height: 60px;
    margin-top: 50px;
    font-size: 30px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    border: 3px solid black;
    display: none;
    position: absolute;
    background-color: lime;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: green;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* FOOTER CONTENT */

footer {
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lime;
    color: black;
}

#exit-button{
    background-color: lime;
}

/* MAIN PAGE DATA */

#name {
    display: flex;
    margin-top: 50px;
    margin-left: -70px;
}

.blinker {
    animation: blinker 1s infinite;
    background-color: lime;
    width: 30px;
    height: 60px;
    margin-top: 50px;
}

#about-me-section {
    border: 5px solid lime;
    border-top: 40px solid lime;
    display: flex;
    font-family: fantasy;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about-me-label {
    color: black;
    position: absolute;
    top: 200px;
    font-size: xx-large;
}

.about-me-list {
    height: 100%;
    font-size: xx-large;
    border: 5px solid lime;
    border-top: 30px solid lime;
    display: inline-table;
    justify-content: space-around;
}

.about-me-list > li {
    list-style-type: none;
    margin-right: 40px;
}

#bio-label {
    font-size: x-large;
    color: black;
    background-color: lime;
    margin-left: 35%;
    padding-left: 5px;
    padding-right: 5px;
}

#education-label {
    font-size: x-large;
    color: black;
    background-color: lime;
    margin-left: 30%;
    padding-left: 5px;
    padding-right: 5px;
}

#skills-label {
    font-size: x-large;
    color: black;
    background-color: lime;
    margin-left: 30%;
    padding-left: 5px;
    padding-right: 5px;
}

/* BREAKPOINTS */

@media screen and (max-width: 690px) {
    header > span {
        display: none;
    }

    #name {
        font-size: xx-small;
        margin-left: -50px;
    }

    #about-me-label {
        top: 150px;
    }

    .dropbtn {
        margin-top: -10px;
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
    .blinker {
        width: 10px;
        height: 30px;
        margin-top: 40px;
    }
}

/* CRT EFFECTS */
.scanline {
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: .9;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
}


#crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
}

/* ANIMATIONS */
@keyframes blinker {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes loader-inner {
    0% { width: 0%;}
    25% { width: 20%;}
    50% { width: 75%;}
    100% {width: 100%;}
}

@keyframes text-shadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0, 255, 13, 0.5), -0.4389924193300864px 0 1px rgba(0, 255, 157, 0.3), 0 0 3px;
    }
    50% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 255, 13, 0.5), -2.7928974010788217px 0 1px rgba(0, 255, 157, 0.3), 0 0 3px;
    }
    100% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 255, 13, 0.5), -0.4389924193300864px 0 1px rgba(0, 255, 157, 0.3), 0 0 3px;
    }
}

@keyframes scanline {
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}
